############################
# Python
############################

__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

############################
# Virtual Environment
############################

venv/
Backend_S/venv/
.env
.env.*

############################
# Django
############################

Backend_S/media/
Backend_S/staticfiles/
.pytest_cache/

############################
# React
############################

frontend/node_modules/
frontend/dist/
frontend/.env

############################
# IDE
############################

.vscode/
.idea/

############################
# OS
############################

.DS_Store
Thumbs.db

############################
# Logs
############################

*.log